interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search
  response:
    body:
      string: "<html>\r\n<head><title>302 Found</title></head>\r\n<body>\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      content-type:
      - text/html
      location:
      - https://nominatim.openstreetmap.org/ui/search.html
      x-nominatim-server:
      - longma.openstreetmap.org
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/ui/search.html
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset='utf-8'>\n
        \ <meta name='viewport' content='width=device-width,initial-scale=1'>\n\n
        \ <title>Nominatim Demo</title>\n\n  <link rel=\"icon\" type=\"image/png\"
        href=\"theme/favicon-194x194.png\" sizes=\"194x194\">\n  <link rel=\"icon\"
        type=\"image/png\" href=\"theme/favicon-32x32.png\" sizes=\"32x32\">\n\n  <link
        rel='stylesheet' href='build/bundle.css'>\n  <link rel='stylesheet' href='theme/style.css'>\n\n
        \ <script src='config.defaults.js'></script>\n  <script src='theme/config.theme.js'></script>\n\n
        \ <script>\n    if (Nominatim_Config.Reverse_Only) {\n      window.location.pathname
        = window.location.pathname.replace('search.html', 'reverse.html');\n    }\n
        \ </script>\n  <script defer src='build/bundle.js'></script>\n</head>\n\n<body>\n</body>\n</html>\n"
    headers:
      content-type:
      - text/html
      etag:
      - '"6728f0ee-30c"'
      last-modified:
      - Mon, 04 Nov 2024 16:06:06 GMT
      x-nominatim-server:
      - longma.openstreetmap.org
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?country=Poland&format=json&limit=1
  response:
    body:
      string: "[{\"place_id\":162547781,\"licence\":\"Data \xA9 OpenStreetMap contributors,
        ODbL 1.0. http://osm.org/copyright\",\"osm_type\":\"relation\",\"osm_id\":49715,\"lat\":\"52.2159330\",\"lon\":\"19.1344220\",\"class\":\"boundary\",\"type\":\"administrative\",\"place_rank\":4,\"importance\":0.9164212477872486,\"addresstype\":\"country\",\"name\":\"Polska\",\"display_name\":\"Polska\",\"boundingbox\":[\"49.0020468\",\"55.0360500\",\"14.0696389\",\"24.1457830\"]}]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-nominatim-server:
      - longma.openstreetmap.org
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://opensky-network.org/api/states/all
  response:
    body:
      string: '{"time":1776329800,"states":[["39de4f","TVF49KB ","France",1776329798,1776329798,2.366,48.725,null,true,4.89,59.06,null,null,null,"1000",false,0],["511142","DMS1    ","Estonia",1776329799,1776329799,10.0819,47.0005,4572,false,94.22,44.34,0.33,null,4732.02,"7000",false,0],["3ffc29","DMFSS   ","Germany",1776329789,1776329794,10.3173,53.0522,502.92,false,51.58,141.07,-0.33,null,null,"7000",false,0],["801638","AXB1522
        ","India",1776329799,1776329799,89.4449,22.287,5699.76,false,180.49,305.96,-3.58,null,5951.22,"3303",f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://opensky-network.org/api/states/all?lamin=49.0020468&lamax=55.03605&lomin=14.0696389&lomax=24.145783
  response:
    body:
      string: '{"time":1776329803,"states":[["4acb03","NSZ4505 ","Sweden",1776329802,1776329802,14.3693,54.6231,10866.12,false,231.2,194.04,-4.88,null,10858.5,"1000",false,0],["471efe","WMT837  ","Hungary",1776329802,1776329802,17.2868,49.7065,11277.6,false,246.41,116.14,0.33,null,11407.14,"2203",false,0][...]
